<template>
    <div>
        <input 
            type="text" 
            class="form-input" 
            placeholder="Thêm todo dô đây nhé ...."
            v-model="createTodo"
        >
        <button @click="addTodo" type="submit" class="form-button">Create (+)</button>
    </div>
</template>

<script>
export default {
    name: 'createTodo',
    data: function() {
        return {
            createTodo: '',
        }
    },
    methods: {
        addTodo(e) {
            e.preventDefault();
            this.$store.dispatch('addTodo', this.createTodo)
            this.createTodo = '';
        },
    },
}
</script>

<style scoped>
.form-input {
    width: 80%;
    padding: 10px;
    border: unset;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    outline-style: unset;
}
.form-button {
    border: unset;
    background: #1da1f2ba;
    padding: 10px;
    font-size: 20px;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
}
</style>