<template>
    <ul class="form-ul">
        <!-- <li class="form-li" 
            v-for="todo in listTodo" 
            :key="todo.id">
            {{ todo.title }}
        </li> -->
        <li class="form-li" 
            v-for="todo in newTodo" 
            :key="todo.id">
            {{ todo.title }}
        </li>
    </ul>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'listTodo',
    computed: {
        ...mapGetters([
            'newTodo'
        ])
        // listTodo() {
        //     return this.$store.state.listTodos
        // }
    }
}
</script>

<style scoped>
.form-ul {
    margin: 30px auto;
    padding: 15px;
    border: 3px dashed;
    width: 80%;
    border-radius: 5px;
    background: #f7869a;
}
.form-li {
    padding: 15px 0;
    width: 50%;
    margin: auto;
    font-size: 20px;
    border-bottom: 1px dashed;
}
.form-li:last-child {
    border-bottom: unset;
}
</style>