<template>
	<div class="navbar">
		<h1>helloo this my todos list</h1>
		<ul>
			<li>home</li>
			<li>about</li>
			<!-- <li>total todo: {{ totalTodo }}</li> -->
		</ul>
		<p>The safely stored number: {{safelyStoredNumber}}<p>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	name: 'navbar',
	// computed: {
	// 	totalTodo() {
	// 		return this.$store.state.listTodos.length
	// 	}
	// }
}
</script>

<style scoped>
.navbar {
	padding: 5px;
	text-align: center;
	background: rgb(240, 240, 240);
	color: black;
}

.navbar ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	padding: 0;
}
</style>