<template>
  <div id="app">
    <div class="container">
      <createTodo />
      <listTodo />
    </div>
  </div>
</template>

<script>
import createTodo from './components/CreateTodo.vue'
import listTodo from './components/ListTodo.vue'

export default {
  name: 'App',
  components: {
    createTodo,
    listTodo
  }
}
</script>

<style>
.container {
  width: 80%;
  margin: auto;
  background: pink;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
}
</style>